<div layout="column">
    
    
    <!-- first row -->
    <!-- ~~~~~~~~~ -->
    <div layout="row" class="user-row">

        <!-- left -->
        <section class="user-details" flex="35" layout="column" layout-align="center center">
            <h2 class="float-title">Mr. Someone</h2>

            <img class="user-img" src="data/images/avatar/user.jpg" alt="">

            <div class="user-details-row small-font">Joined 07 October, 2014 </div>

            <div>
                <md-button class="md-primary md-raised md-warn small-button box-label">Follow</md-button>
                <md-button class="md-primary md-raised small-button user-contact-btn">Contact</md-button>
            </div>

            <div class="user-status" layout="row" layout-fill>
                <div class="user-status-left" flex>30<br>Items</div>
                <div class="user-status-right" flex>12<br>Followers</div>
            </div>
        </section>


        <!-- right -->
        <section class="user-about" flex>
            <h2 class="float-title-left">About</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit velit diam, ac aliquet diam ullamcorper sed. Suspendisse vel risus dapibus elit aliquam ullamcorper. Quisque in erat nec odio ullamcorper fringilla ac eget tellus.
            </p>
            <p>
                Nullam sit amet commodo lorem. Phasellus scelerisque lacinia ante, sit amet bibendum tortor maximus et. Vivamus pharetra cursus urna sit amet iaculis. 
                Nulla non ultricies orci. Pellentesque nec dui convallis, hendrerit eros ac, dapibus neque. Sed scelerisque urna augue.
            </p>
            <div layout="row">
                <md-button class="user-social-button md-accent md-hue-1 md-fab ico-facebook" aria-label=""></md-button>
                <md-button class="user-social-button md-accent md-hue-1 md-fab ico-twitter2" aria-label=""></md-button>
                <md-button class="user-social-button md-accent md-hue-1 md-fab ico-google-plus" aria-label=""></md-button>
                <md-button class="user-social-button md-accent md-hue-1 md-fab ico-linkedin" aria-label=""></md-button>
            </div>
        </section>
    </div>


    <!-- second row -->
    <!-- ~~~~~~~~~~ -->
    <div class="user-row">
        <h2 class="float-title-left">Number of Sales</h2>
        <div class="user-chart-container">
            <canvas id="line" class="chart chart-line" data="chartData.data" labels="chartData.labels" series="chartData.series"></canvas> 
        </div>
    </div>


    <!-- third row -->
    <!-- ~~~~~~~~~ -->
    <div class="user-row" layout="row">

        <!-- left -->
        <section class="user-products" flex>
            <h2 class="float-title-left">Products in Store</h2>

    <!--        <md-grid-list md-cols="6" md-gutter="0.5em" md-row-height="100">
                <md-grid-tile class="user-products-display" ng-repeat="product in gallery">
                    <img ng-src="data/images/products/{{ product.img }}.jpg" width="80">
                    {{ product.name }}
                    ${{ product.price }}
                </md-grid-tile>
            </md-grid-list>-->

            <div layout="row" layout-align="space-between start">
                <div class="user-products-display" ng-repeat="product in gallery">
                    <img ng-src="data/images/products/{{ product.img }}.jpg" width="80">
                    {{ product.name }} ${{ product.price }}
                </div>
            </div>
    
            <div layout="row" layout-align="space-between start" style="margin-top: 10px;">
                <div class="user-products-display" ng-repeat="product in gallery">
                    <img ng-src="data/images/products/{{ product.img }}.jpg" width="80">
                    {{ product.name }} ${{ product.price }}
                </div>
            </div>
        </section>

        <!-- right -->
        <section class="user-friends" flex>
            <h2 class="float-title-left">Friends List</h2>

            <div class="user-friends-list">
                <div class="user-friends-list-item" ng-repeat="friend in friends" layout="row" layout-align="space-between start">
                    <img ng-src="data/images/avatar/{{ friend.img }}.jpg" width="50">
                    <span style="line-height: 50px;">{{ friend.name }}</span>
                    <md-button class="ico-close"></md-button>
                </div>
            </div>
        </section>
    </div>

</div>