.app-header {
    margin-bottom: 5px;
}

.logo-link{
    padding-top: 4px;
    background: url("#{$images-path}logo/logo-figure-inverse.png") no-repeat left center;
}

.logo-text {
    padding-left: 95px;
    line-height: 60px;
}

.app-header-tabs .md-header{
    height: 64px;
}

.app-header-tabs.md-default-theme md-tab {
    color: rgba(255, 255, 255, 0.6);
}

.app-header-tabs.md-default-theme md-tab.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.20);
}

@media (min-width: 480px){
    .app-header-inner, .page-content-holder {
        width: 450px;
    }
}

@media (min-width: 768px){
    .app-header-inner, .page-content-holder {
        width: 750px;
    }
}

@media (min-width: 992px){
    .app-header-inner, .page-content-holder {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .app-header-inner, .page-content-holder {
        width: 1170px;
    }
}