.sidenav-title{
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 15%;
}

.sidenav-title-first{
    margin-top: 2%;
}

.sidenav-title-last {
    margin-top: 10%;
}

.search-bar{
    margin-bottom: 20px;
}