.sidenav-title{
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 15%;
}

.sidenav-title-first{
    margin-top: 2%;
}

.sidenav-title-last {
    margin-top: 10%;
}

.search-bar{
    margin-bottom: 20px;
}

.right-bar{
    padding: 60px 0 0 30px;
}

.right-bar-slider{
    width: 90%;
}