
// ~~~ HTML elements

body {
    color: $custom-brown;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: $link-color;
    text-decoration: none;
}
a:hover,
a:focus {
    color: $link-color-dark;
    text-decoration: underline;
}
a:focus {
    outline: 0;
    outline-offset: -2px;
}
a:visited{
    color: $link-color-dark;
}


// ~~~ fonts

.small-font{
    font-size: $small-font;
}

.float-large-title,
.float-title{
    font-weight: normal;
    text-align: center;
}

.float-large-title{
    text-transform: uppercase;
}

.float-title-left{
    font-weight: normal;
    text-align: left;
}


// ~~~ md overrides

.md-button{
   // padding: 6px 8px !important;
}

.md-track-ticks canvas{
    visibility: hidden;
}


// ~~~ spaces

.box-label{
    margin-left: 10px;
}

md-sidenav h2.top-margin{
    margin-top: 10%;
}

md-sidenav h2.bottom-space{
    padding-bottom: 0;
}

.custom-padding{
    padding: 16px 10%;
}

.bottom-space{
    padding-bottom: 16px;
}


// ~~~ buttons

.icon-large{
    font-size: $icon-large;
}

.tag-button.md-button.md-default-theme{
    border: 1px solid #00B4AC;
    border-radius: 50px;
    margin: 3px;
}
.tag-button span{
    color: $custom-blue;
    text-transform: lowercase;
    font-size: $small-font;
}

.tag-button.md-default-theme:not([disabled]):hover, 
.tag-button.md-default-theme:not([disabled]):focus {
    border: 1px solid #efefef;
}
.tag-button.md-default-theme:not([disabled]):hover span, 
.tag-button.md-default-theme:not([disabled]):focus span {
    color: darken($custom-blue, 10%);
}

.large-button{
    padding: 6px $padding-small;
}

.small-button{
    padding: 6px $padding-small;
    text-transform: none;
}


// ~~~ general styles

// content
.app-mainframe{
    background-color: #fff;
    padding-top: 2em;
}

//list
ul.list-simple{
    margin: 0;
    padding: 0;
}
ul.list-simple > li{
    list-style: none;
    margin-bottom: 5px;
    line-height: 1.5;
}
ul.list-simple > li i{
    padding: 0 10px;
    color: darken($custom-bg-color, 15%);
}


// ~~~ media queries

@media (min-width: 480px){
    .app-header-inner, .app-mainframe {
        width: 450px;
    }
}

@media (min-width: 768px){
    .app-header-inner, .app-mainframe {
        width: 750px;
    }
}

@media (min-width: 992px){
    .app-header-inner, .app-mainframe {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .app-header-inner, .app-mainframe {
        width: 1170px;
    }
}