.user-row{
    margin-bottom: 2em;
}

.user-details{
    background-color: $custom-bg-color;
    margin-right: 2em;
}

.user-img{
    border-radius: 50%;
    border: 5px solid #FFF;
    width: 120px;
}

.user-details-row{
    margin: .83em 0;
}

.user-status{
    padding-top: 30px;
}
.user-status div{
    padding: 10px 6px;
    text-align: center;
    color: #fff;
}
.user-status-left{
    background-color: $custom-brown1;
}
.user-status-right{
    background-color: $custom-brown2;
}

.user-about p{
    text-align: justify;
}

.user-social-button{
    margin: 7px 7px 0 0;
}

.user-contact-btn{
    margin-left: 15px;
}

.user-chart-container{
   padding: 0 8px;
}

.user-products{
    margin-right: 2em;
}

.user-products-display{
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.18);
    font-size: $small-font;
    text-align: center;
}
.user-products-display img{
    display: block;
    //margin-bottom: 5px;
}

.user-friends{
    //margin: 40px 8px 0px 0;
}

.user-friends-list{
    background-color: $custom-bg-color;
}

.user-friends-list-item{
    padding: 10px;
    border-bottom: 1px solid #FFF;
}

.user-friends-list-item img{
    border-radius: 50%;
    border: 2px solid #FFF;
}
.user-friends-list-item span{
    font-size: $small-font;
}