.product-container{
    overflow: hidden;
    background-color: rgba(110, 94, 86, 0.19); //$custom-bg-color;
}

.product-title{
    text-align: center;
    padding-top: 20px;
    font-weight: normal;
}

.product-price{
    color: $custom-blue;
    text-align: center;
    margin-bottom: 25px;
}

.product-links{
    padding-bottom: 20px;
}