// ~~~ paths
$images-path: '../images/';

// ~~~ colors
$custom-orange: #fa8b38;
$custom-green: #98cf5c;
$custom-brown: #6e5e56;
$custom-brown1: #a9a69f;
$custom-brown2: #92908a;
$custom-blue: #00b6ad;
$custom-bg-color: #f1efea;

// ~~~ fonts
$link-color: $custom-blue;
$link-color-dark: darken( $custom-blue, 10% );
$small-font: 0.8em;
$icon-large: 1.5em;

// padding
$padding-small: 16px;